{% extends "layout.html" %}
{% block body %}
    {% if article %}
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto"> 
                        <div class="post-heading">
                            <h1>{{ article.title }}</h1>
                            <span class="meta">Posted by <a href="#">{{ article.author }}</a> on {{ article.created_at }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header> 
        <div style="text-align: justify;">{{ article.content|safe }} </div>
    {% else %}
            <div class="alert alert-danger">Yazı Bulunamadı</div>
    {% endif %}
{% endblock body %}