{% extends "layout.html" %}
{% block body %}
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Add Article</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <style type="text/css">
        .form {
            width: 100%;
            margin: 0 auto;
            padding: 30px 0;
        } 
    </style>
    <a href="/admin/articles" class="btn btn-primary btn-lg btn-block">Articles</a>
    <div class="form">
        <div class="col-xs-8 col-xs-offset-4"><h2>Makale Düzenle</h2></div>	
        <hr>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method=post class="form-horizontal">
            {{ render_field(form.title,class="form-control") }}
            {{ render_field(form.content,class="form-control") }}
            <button type="submit" class="btn btn-success btn-lg btn-block">Güncelle</button>
        </form>
    </div>                             
{% endblock body %}